* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: sans-serif;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background: #260452;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0 7%;
	z-index: 99;
}
.brand {
	text-decoration: none;	
	font-size: 1.2em;
}
.brand, #about-btn {
	color: #fff;
	opacity: 0.8;
	-webkit-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
}
.brand:hover, #about-btn:hover {
	opacity: 1;
}
main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	width: 86%;
	margin: 70px auto;
	min-height: calc(100vh - 220px);
}
button, label {
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
#about-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 7px;
	border: 1px solid #fff;
	background: transparent;
	font-size: 16px;
	outline: none;
}
.mobile {
	display: none;
}
#options {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 50%;
	padding-right: 50px;
}
#options h2 {
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 1px solid #aaa;
	padding: 10px;
	font-weight: normal;
}
#show {
	width: 50%;
}
#chart {
	width: 100%;
	padding: 15px;
	background: #f5f5f5;
	-webkit-box-shadow: 0 0 7px rgba(0,0,0,.6);
	        box-shadow: 0 0 7px rgba(0,0,0,.6);
}
#options label {
	width: 50%;
	padding: 15px 10px;
	position: relative;
}
.tooltip {
	background: #fff;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 3px #333;
	        box-shadow: 1px 1px 3px #333;
	position: absolute;
	top: 100%;
	right: 10%;
	padding: 6px;
	font-size: 0.8em;
	color: #333;
	opacity: 0;
	-webkit-transform: scaleY(0);
	    -ms-transform: scaleY(0);
	        transform: scaleY(0);
	z-index: 99;
	white-space: nowrap;
}
.tooltip:hover {
	border: 1px solid sandybrown;
	opacity: 1;
}
#options label:hover {
	background: #f5f6f7;
}
#options label:hover .tooltip {
	opacity: 0.9;
	-webkit-transform: scaleY(1);
	    -ms-transform: scaleY(1);
	        transform: scaleY(1);
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
input[type=checkbox] {
	display: none;
}
.radio {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	float: left;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: 2px solid #555;
	margin-right: 10px;
	top: 7px;
}
.radio > div {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: #0b6905;
	-webkit-transform: scale(0);
	    -ms-transform: scale(0);
	        transform: scale(0);
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	opacity: 0;
}
input[type=checkbox]:checked+.radio {
	border: 2px solid #2e4e2c;
}
input[type=checkbox]:checked+.radio>div {
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
	opacity: 1;
}
small {
	display: block;
	margin: 7px 0 0 30px;
	opacity: 0.8;
}
svg {
	width: 100%;
	height: 100%;
}
#chart {
	height: 65vh;
	margin: 20px 0;
}
.axis {
	opacity: 0.8;
	font-size: 0.7em;
}
#slider {
	padding: 0 20px;
}
input[type=range] {
	-webkit-appearance: none;
	display: block;
	width: 100%;
	/*background: #8e9cc3;*/
	border: 1px solid #120d5f;
	outline: none;
	height: 6px;
	border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	display: block;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: 1px solid #333;
	background: #238abb;
	cursor: pointer;
	-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,.4), 2px 2px 2px rgba(0,0,0,.4);
	        box-shadow: inset 1px 1px 2px rgba(0,0,0,.4), 2px 2px 2px rgba(0,0,0,.4);
}
input[type=range]::-webkit-slider-thumb:active {
	-webkit-transform: scale(1.15);
	        transform: scale(1.15);	
}
input[type=range]::-moz-range-thumb {
	display: block;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: 1px solid #333;
	background: #238abb;
	cursor: pointer;
	box-shadow: inset 1px 1px 2px rgba(0,0,0,.4), 2px 2px 2px rgba(0,0,0,.4);
}
.slider-wrapper {
	position: relative;
}
#slider button {
	display: block;
	margin: 20px auto;
	width: 100px;
	padding: 7px;
	font-size: 16px;
	border: none;
	color: #fff;
	text-shadow: 0 0 1px #000;
	background: #128033;
	-webkit-box-shadow: 2px 2px 5px #333;
	        box-shadow: 2px 2px 5px #333;
	outline: none;
	border-radius: 15px;
}
#slider button:not([disabled]):hover {
	-webkit-box-shadow: 3px 4px 7px #444;
	        box-shadow: 3px 4px 7px #444;	
}
#slider button:active {
	-webkit-transform: scale(0.95);
	    -ms-transform: scale(0.95);
	        transform: scale(0.95);
}
*[disabled] {
	opacity: 0.8;
}
.modal {
	position: fixed;
	top: 60px;
	right: 7vw;	
	z-index: 999;
	width: 400px;
	-webkit-box-shadow: 3px 5px 15px #000;
	        box-shadow: 3px 5px 15px #000;
	background: #fff;
	-webkit-transform-origin: right top;
	    -ms-transform-origin: right top;
	        transform-origin: right top;
}
.modal::after {
	display: block;
	content: '';
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
	position: absolute;
	bottom: 100%;
	right: 20px;
}
.modal-header {
	padding-left: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	border-bottom: 1px solid #aaa;
	font-size: 1.6em;
}
.modal-header span {
	display: block;
	height: 100%;
	padding: 15px;
	cursor: pointer;
}
.modal-text {
	padding: 20px;
	line-height: 1.3em;
}
.modal-text a {
	color: #0b0b40;
}
.overlay-enter-active, .overlay-leave-active {
	-webkit-transition: .3s linear;
	-o-transition: .3s linear;
	transition: .3s linear;
}
.modal-enter-active, .modal-leave-active {
	-webkit-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
}
.curve-enter-active, .curve-leave-active {
	-webkit-transition: .6s ease;
	-o-transition: .6s ease;
	transition: .6s ease;
}
.modal-enter, .modal-leave-to, .overlay-enter, .overlay-leave-to, .curve-enter, .curve-leave-to {	
	opacity: 0;
}
.modal-enter, .modal-leave-to {
	-webkit-transform: scale(0);
	    -ms-transform: scale(0);
	        transform: scale(0);
}
.modal-enter-to, .overlay-enter-to, .curve-enter-to {
	opacity: 1;
}
.modal-enter-to {
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
}
g text {
	text-anchor: middle;
	font-size: 0.75em;
}
.overlay {
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 50;
	background: rgba(0, 0, 0, .6);
	-webkit-backdrop-filter: blur(4px);
	        backdrop-filter: blur(4px);
}
footer {
	background: #e0e0e0;
	text-align: center;
	padding: 30px;
}

@media(max-width: 940px) {
	#options {
		padding-right: 20px;
	}
}

@media(max-width: 768px) {
	.mobile {
		display: block;
	}
	.back-to-top {
		position: fixed;
		bottom: 30px;
		right: 30px;
		border: 1px solid #333;
		color: #333;
		background: #fff;
		padding: 10px;
		-webkit-transform: rotate(-90deg);
		    -ms-transform: rotate(-90deg);
		        transform: rotate(-90deg);
		font-size: 20px;
		opacity: 0.7;
		z-index: 995;
		text-decoration: none;
		display: none;
	}
	.back-to-top:hover {
		opacity: 0.9;
	}
	.shown {
		display: block;
	}
	.desktop {
		display: none;
	}
	#about-btn {
		height: 30px;
		width: 30px;
		border-radius: 50%;
	}
	main {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}
	#options, #show {
		width: 100%;
	}
	.modal {
		height: 50vh;
		top: 0;
		width: 100%;
		right: 0;
		margin: 0;
		-webkit-box-shadow: none;
		        box-shadow: none;
		background: #fff;
		-webkit-backface-visibility: hidden;
		        backface-visibility: hidden;
	}
	.modal-enter, .modal-leave-to {
		-webkit-transform: translateY(100%);
		    -ms-transform: translateY(100%);
		        transform: translateY(100%);
		opacity: 0;
	}
	.modal-enter-to {
		-webkit-transform: translateY(0);
		    -ms-transform: translateY(0);
		        transform: translateY(0);
		opacity: 1;
	}
	.modal::after {
		display: none;
	}
}
@media(max-width: 400px) {
	#options label {
		font-size: 0.9em;
		padding: 10px 5px;
	}
	.radio {
		height: 15px;
		width: 15px;
		margin-right: 5px;
	}
	.radio > div {
		width: 7px;
		height: 7px;
	}
	footer {
		font-size: 0.8em;
	}
}